extends layout

block content
  h1 Create a click tracker
  p Enter a URL here to have a click tracker generate. These click trackers are permanent (do not expire)
  form(name="url_create", method="post")
    div.input
      span_label URL
      input(type="text", name="url")
    div.actions
      input(type="submit", value="Create")
  br
  br
  h1 Active Trackers
  p Top 50 trackers, most recently clicked first
  table
    thead
    tbody
    tr
      td Get Stats
      td URL
      td Click Counter
      td Time Created
      td Last Clicked
    for url in Url_array
      tr
          td #[a(href='../stats/' + url.getDataValue('hash')) Stats]
          td= url.getDataValue('url')
          td= url.getDataValue('count_clicks')
          td= url.getDataValue('createdAt')
          td= url.getDataValue('updatedAt')
